html{
    background-color: aqua;
}

h1{
    text-align: center;
    color: black 1px solid;
    padding: 20px;
    border-radius: 10px solid;
}

div{
    background-color: blanchedalmond;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    
}
a{
    justify-content:space-between;
    margin: 97px;
    text-align: center;

}
img{
    justify-content: right;
    margin: 10px;
    padding: 10px;

}

input{
    text-align: center;
}
p{
    align-items: center;
    
}