html{
    background-color: aqua;
}

h1{
    text-align: center;
    color: black 1px solid;
    
}

div{
    background-color: blanchedalmond;
    border-radius: 10px;
    
}
a{
    width: 30px;
    justify-content: space-between;
    margin: 50px;

}
img{
    justify-content: right;
    margin: 10px;
    padding: 10px;

}

input{
    text-align: center;
}